.menuBar:hover{
    -fx-border-color: #28C7FF;
    -fx-border-width: 0px 0px 3px 0px;
}

.btnGuardar {
    -fx-background-color: linear-gradient(to bottom, #237AD9, #0E46A6);
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: Calisto TM;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
}

.btnGuardar:hover {
    -fx-background-color: linear-gradient(to bottom, #237AD9, #0E46A6);
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}
.table-view {
    -fx-font-size: 14px; /* Tamaño de letra */
}

.table-cell {
    -fx-alignment: center; /* Alineación centrada del texto */
}

.media-view {
    -fx-border-color: #000000; /* Color del borde */
    -fx-border-width: 2px; /* Ancho del borde */
    -fx-border-radius: 50px; /* Radio de las esquinas del borde */
}